// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url( 'https://fonts.googleapis.com/css?family=Ubuntu');
@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url( 'https://fonts.googleapis.com/css?family=Raleway');

// Variables

$dark-grey: #434343;
$light-green: #78c68e;

// General Styles / Normalisation

body {
  background: white;
  -webkit-font-smoothing: antialiased;
  height: auto;
  text-align: center;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.row {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
}

header {
  -moz-animation: AnimationName 6s ease infinite;
  -webkit-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  background: -webkit-linear-gradient(318deg, #78C68E, #56b4d3);
  background: -o-linear-gradient(318deg, #78C68E, #56b4d3);
  background: linear-gradient(48deg, #78C68E, #56b4d3);
  background-size: 400% 400%;
  height: 700px;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 81% 0;
    }

    50% {
      background-position: 20% 100%;
    }

    100% {
      background-position: 81% 0;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 81% 0;
    }

    50% {
      background-position: 20% 100%;
    }

    100% {
      background-position: 81% 0;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 81% 0;
    }

    50% {
      background-position: 20% 100%;
    }

    100% {
      background-position: 81% 0;
    }
  }
  margin: -8rem 0 4rem;
  transform: skew(0,-4.5deg);
}

// Box Shadow for sections
.copyright,
.intro,
header {
  -webkit-box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.5);
  box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.5);
}

// Navigation Bar
.navbar {
  background: transparent;
  border: 0;
  font-family: 'Futura', sans-serif;
  font-size: 1.6em;
  font-weight: 100;
}

#navbarCollapse {
  border-color: transparent;
}

#navbarCollapse li a {
  background: transparent;
  border-bottom: 3px solid transparent;
  border-radius: 5px;
  color: white;
  padding: 20px 30px 10px;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#navbarCollapse li a:hover {
  border-bottom: 3px solid white;
  border-radius: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-default .navbar-toggle {
  border: 1px solid white;
  margin-right: 30px;
  transition: ease-in-out .7s;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:visited {
  background: #A7A7A7;
}

.container .navbar-header {
  margin: auto;
}
/* Page Title Section */
.inner {
  transform: skew(0,4.5deg);
  min-height: 20rem;
  padding: 7rem 0 4rem;
}

.page-title img {
  width: 180px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(8%);
  }

  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }

  50% {
    -webkit-transform: translateY(8%);
  }

  100% {
    -webkit-transform: translateY(0%);
  }
}

.page-title {
  padding-top: 50px;
  padding-bottom: 150px;
  color: #FFF;
}

.page-title h1 {
  font-family: 'Futura', sans-serif;
  font-weight: 100;
  font-size: 6em;
  margin: 0;
  text-shadow: 0 2px 0 rgba(0,91,103,.15);
}

.page-title h4 {
  font-family: 'Raleway', sans-serif;
}

.title {
  line-height: 1.1;
  letter-spacing: -1px;
  text-shadow:2px 2px 0 rgba(0,0,0,0.2);
}

/* Portfolio Section */

.projects {
  background: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 7rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 7rem;
}

.projects h2 {
  color: #434343;
}

.projects .portfolio-item {
  margin: 30px auto;
  right: 0;
}

.projects .portfolio-item img {
  border-radius: 10px;
  box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
}

.portfolio-link {
  transition: ease-out .4s;
}

.portfolio-link:hover {
  text-decoration: none;
  opacity: .4;
}

.item-wrap {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.projects .portfolio-item .caption {

  background: #78C68E;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}

.projects .portfolio-item .caption:hover {
  opacity: 1;
}

.projects .portfolio-item .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  margin-top: -12px;
  top: 50%;
  color: white;
}

.projects .portfolio-item .caption .caption-content i {
  margin-top: -12px;
  color: #D6D6D6;
}

.projects .portfolio-item .caption .caption-content p {
  font-size: 1em;
  margin-top: -36px;
}

.projects > * {
  z-index: 2;
}

/* About Section */
.intro {
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient(228deg, #78C68E, #56b4d3);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 81% 0;
    }

    50% {
      background-position: 20% 100%;
    }

    100% {
      background-position: 81% 0;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 81% 0;
    }

    50% {
      background-position: 20% 100%;
    }

    100% {
      background-position: 81% 0;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 81% 0;
    }

    50% {
      background-position: 20% 100%;
    }

    100% {
      background-position: 81% 0;
    }
  }
  transform: skew(0,-4.5deg);
  height: 768px;
}

.intro-inner {
  transform: skew(0,4.5deg);
  min-height: 20rem;
  padding: 7rem 0 4rem;
}

.back,
.intro .front {
  margin-top: 30px;
  padding: 30px;
  font-size: 1.4em;
  background: #FFF;
  border-radius: 10px;
  line-height: 1.4em;
  color: #161616;
  box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
}

.intro .back a:hover,
.intro .front a:hover {
  color: #78C68E;
  text-decoration: none;
}

.intro a {
  color: inherit;
  font-style: italic;
}

.intro .fa-id-card {
  color: #FFF;
}

.intro i {
  font-size: 28px;
  color: #444444;
  margin-left: 5px;
  margin-right: 5px;
}

.intro .flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}
/* flip the pane when hovered */
.flip-container.flip .flipper,
.flip-container.flipper {
  transform: rotateY(180deg);
}

.back,
.flip-container,
.front {
  width: 100%;
  height: auto;
}
/* flip speed goes here */
.flipper {
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.back,
.front {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(180deg);
}

.portrait {
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 328px;
  margin: 30px auto;
  box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
}
/* Contact / Footer */
.social {
  background: #FFF;
  padding: 7rem 0 4rem;
}

.social h2 {
  color: #434343;
}

.social .contact-form {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4em;
  padding: 20px;
  margin: 30px auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
}

.social .contact-form p {
  padding-bottom: 20px;
}

.social .contact-form .form-group {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.social ul {
  padding: 0;
  margin: 30px auto;
}

.social ul li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  padding: 10px;
}

.social i {
  font-size: 36px !important;
  color: #444444;
  width: 48px;
  height: 48px;
  margin: 20px auto;
  padding: 5px;
  transition: all 0.2s ease-in-out;
}
// .social i:hover {
//   color: #78C68E;
//   background: #FFF;
// }

.social i.fa-envelope:hover {
  color: rgb(210, 50, 74);
  background: #FFF;
}

.social i.fa-github:hover {
  color: #000;
}

.social i.fa-linkedin:hover {
  color: rgb(1, 119, 181);
}

.social i.fa-twitter:hover {
  color: rgb(29, 161, 242);
}
/* Scroll Top Button */
.scroll-top a {
  background: none;
  margin: 0;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  z-index: 100;
  text-decoration: none;
  color: $dark-grey;
}

.scroll-top a i {
  font-size: 40px;
}

.copyright {
  text-align: center;
  color: #FFF;
  padding: 5px;
  background: linear-gradient(228deg, #348f50, #56b4d3);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 81% 0;
    }

    50% {
      background-position: 20% 100%;
    }

    100% {
      background-position: 81% 0;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 81% 0;
    }

    50% {
      background-position: 20% 100%;
    }

    100% {
      background-position: 81% 0;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 81% 0;
    }

    50% {
      background-position: 20% 100%;
    }

    100% {
      background-position: 81% 0;
    }
  }
}
/* Media Queries */
@media (max-width: 515px) {
  .page-title {
    padding-top: 50px;
    padding-bottom: 280px;
  }

  .page-title h1 {
    font-size: 4.2em;
  }

  .scroll-top a i {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  #navbarCollapse,
  #navbarCollapse li a,
  .navbar,
  .navbar-header {
    background-color: transparent;
    color: #FFF;
    margin-top: 10px;
  }

  #lang {
    float: none;
  }

  .intro {
    height: 1100px;
  }

  .portrait {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1030px) {
  .page-title {
    padding-top: 50px;
    padding-bottom: 300px;
  }
}
